apiVersion: v1
kind: Service
metadata:
  name: {{ include "my-app.fullname" . }}
  labels:
    {{- include "my-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http-metrics # name for servicemonitor, main dependency
      protocol: TCP
      name: http-metrics # name for servicemonitor, main dependency
  selector:
    {{- include "my-app.selectorLabels" . | nindent 6 }}