victoria-metrics:

  crd:
    create: false

  vmagent:
    serviceMonitorSelector:
      matchLabels:
        monitoring-component: "vm-stack-app"
  grafana:

    adminPassword: "neoadmin"

my-app:
  service:
    targetPort: 3000
    port: 3000

  serviceMonitor:
    enabled: true
    labels:
      monitoring-component: "vm-stack-app"
  dashboard:
    enabled: true
