victoria-metrics:
  vmagent:
    spec:
      port: "8429"
      selectAllByDefault: true
      scrapeInterval: 20s

  grafana:
    adminPassword: "neoadmin"

my-app:
  team: spam2000 # dependency to scrape our custom app
  service:
    targetPort: 3000
    port: 3000
  replicaCount: 2
  dashboard:
    enabled: true
  serviceAccount:
    create: true
    name: ""
