victoria-metrics:
  vmagent:
    spec:
      port: "8429"
      selectAllByDefault: true
      scrapeInterval: 20s

  grafana:
    adminPassword: "neoadmin"

my-app:
  service:
    targetPort: 3000
    port: 3000
  replicaCount: 4
  dashboard:
    enabled: true
  serviceAccount:
    create: true
    name: ""
